doctype html
html
  head
    title pure-button.pug
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../stylesheets/style.css")
  body
    <a class="pure-button" href="#">A Pure Button</a>
    <button class="pure-button">A Pure Button</button>
    script.
      window.parent.document.getElementById(location.hash.substr(1)).style.height = document.body.scrollHeight + 'px'
