doctype html
html
  head
    title style guide
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="stylesheets/style.css")
  body
    header
      #header.l-header
        .m-header.pure-g
          #header_heading._heading.pure-u-16-24
          #search._search-box.pure-u-8-24.pure-form
            input._input-text.js_hook_search(type="text" placeholder="search tagName,className...")
    main
      #main.l-main
        .m-main
    aside
      #sidebar.l-sidebar
        .m-sidebar
          ._heading: a._link(href="#") STYLE GUIDE
          ul#sidebar_list._list
    script(src="javascripts/bundle.js")
