.m-document {
  ._title {
    position: relative;
    padding: 8px;
    font-size: 20px;
    line-height: 1.334;
    border-bottom: 1px solid #eee;
    &:hover {
      ._link {
        opacity: 1;
      }
    }
    ._link {
      opacity: .4;
      transition: opacity .2s;
      position: absolute;
      top: 0;
      right: 8px;
      height: 100%;
      width: 40px;
      background-image: url("data:image/svg+xml,#{$ic_link_black_24px}");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  ._description {
    padding: 8px;
  }
  ._tags {
    padding: 8px;
    ._tag {
      display: inline-block;
      height: 24px;
      margin: 0 4px 0 0;
      background-color: #42B8DD;
      border-radius: 24px;
    }
    ._link {
      padding: 0 16px;
      text-decoration: none;
      color: #fff;
    }
  }
  ._pug {
  }
  ._code {
    > ._wrapper {
      height: 40px;
      line-height: 40px;
      background-color: #E8E8E8;
      padding: 0 8px;
      margin: 8px 0 0 0;
    }
    ._toggle-icon-area {
      position: relative;
    }
    &:hover {
      ._toggle-icon {
        opacity: 1;
      }
    }
    ._toggle-icon {
      opacity: .4;
      transition: opacity .2s;
      cursor: pointer;
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,#{$ic_code_black_24px}");
      background-position: center;
      background-repeat: no-repeat;
    }
    ._body {
      &._hidden {
        display: none;
      }
      &:hover {
        ._copy-icon {
          opacity: 1;
        }
      }
      ._copy-icon {
        opacity: .4;
        transition: opacity .2s;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 8px;
        width: 40px;
        height: 40px;
        background-image: url("data:image/svg+xml,#{$clippy}");
        background-size: 50% 50%;
        background-position: center;
        background-repeat: no-repeat;
        &.tooltipped {
          &:after {
            position: absolute;
            z-index: 1000000;
            display: none;
            padding: 5px 8px;
            font: normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
            color: #fff;
            text-align: center;
            text-decoration: none;
            text-shadow: none;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: break-word;
            white-space: pre;
            pointer-events: none;
            content: attr(aria-label);
            background: rgba(0,0,0,0.8);
            border-radius: 3px;
            -webkit-font-smoothing: subpixel-antialiased
          }
          &:before {
            position: absolute;
            z-index: 1000001;
            display: none;
            width: 0;
            height: 0;
            color: rgba(0,0,0,0.8);
            pointer-events: none;
            content: "";
            border: 5px solid transparent
          }
        }
        &.tooltipped {
          &:hover:before,
          &:hover:after,
          &:active:before,
          &:active:after,
          &:focus:before,
          &:focus:after {
            display: inline-block;
            text-decoration: none
          }
        }
        &.tooltipped-s {
          &:after {
            top: 100%;
            right: 0;
            margin-top: 5px
          }

          &:before
          {
            top: auto;
            right: 50%;
            bottom: -5px;
            margin-right: -5px;
            border-bottom-color: rgba(0,0,0,0.8)
          }
        }
      }
      display: block;
      position: relative;
      padding: 32px 16px;
      border-right: 1px solid #E8E8E8;
      border-left: 1px solid #E8E8E8;
      background-color: #f5f2f0;
      white-space: pre-wrap;
    }
  }
  ._iframe {
    position: relative;
    border-top: none;
    border-bottom: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    &:hover {
      ._link {
        opacity: 1;
      }
    }
    ._link {
      opacity: .4;
      transition: opacity .2s;
      position: absolute;
      top: 0;
      right: 8px;
      height: 40px;
      width: 40px;
      background-image: url("data:image/svg+xml,#{$ic_open_in_new_black_24px}");
      background-position: center;
      background-repeat: no-repeat;
    }
    ._body {
      height: 0;
      width: 100%;
      margin: 32px 0;
      border: none;
      outline: 0;
      box-sizing: border-box;
      padding: 0 16px;
    }
  }
}