
.m-header {
  ._heading {
    padding: 0 32px;
    font-size: 22px;
    height: 56px;
    line-height: 56px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
  }
  ._search-box {
    ._input-text {
      background-image: url("data:image/svg+xml,#{$ic_search_black_24px}");
      background-position: 16px center;
      background-repeat: no-repeat;
      height: 56px;
      line-height: 56px;
      width: 100%;
      box-sizing: border-box;
      box-shadow: none;
      border: 1px solid #eee;
      border-radius: 0;
      padding: .5em .6em .5em 48px;
    }
  }
}
